.btn {
	background-color: $mainBlue;
	color: white;
	text-decoration: none;
	padding: .75rem 1.2rem;
	display: inline-block;

	&--orange {
		background-color: $mainOrange;
		color: #e9e9e9;
	}

	&--large {
		padding: .9rem 1.8rem;

		@mixin atSmall {
			font-size: 1.25rem;
		}
	}

}
